<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-2">
			<div class="circle">
			  <br />
			  SUCK UP
			  <br />
			  &
			  <br />
			  WAKE UP !
			</div>
		</div>
		<div class="col-xs-5 slogan">
			Splurting out unsolicited best practices since 2015
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr class="clear"/>
	<br class="clear" />

<%= yield %>

</body>
</html>
