<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-2">
			<%= link_to root_path, :class => 'logo' do %>
				<div class="circle">
				  <br />
				  SUCK UP
				  <br />
				  &
				  <br />
				  WAKE UP !
				</div>
			<% end %>
		</div>
		<div class="col-xs-5 slogan">
			Splurting out unsolicited best practices since 2015
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', new_quote_path, :class => 'link_1' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr class="clear"/>
	<br class="clear" />

	<div class="container main-quote">
		<%= yield %>
	</div>

	<footer class="footer">
		<div class="container">
			<div class="col-xs-6">
				Still sleepy? <%= link_to "Try something else.", root_path, :class => 'next-quote' %>
			</div>
			<div class="col-xs-6 footer-blurb">
				<p>
					Proudly presented by <a href="http://kenedldn.github.io/theFirehoseProject-intro/">Ken</a> (a.k.a. Typical Asian)
				</p>
			</div>
		</div>
	</footer>
</body>
</html>
